/***** Start Default Theme *****/

/* Active Links */

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.carousel-indicators .active,
.option-box .gear-check
{
    background-color: #ff00eb
}

.navbar-inverse .navbar-brand span,
.about h1 span,
.about h4 span,
.testim span,
.footer h3,
.footer .copyright span
{
    color: #ff00eb
}

.option-box .color-option,
.testim .carousel-indicators .active
{
    border: 3px solid #ff00eb;
}

.dropdown-menu
{
    border-top: 2px solid #ff00eb
}

.carousel-indicators .active
{
    border: 1px solid #ff00eb;
}


/***** End Default Theme *****/
